<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
        <link rel="image_src" href="https://free-host.ranjankashyap.repl.co/logo6.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>File share</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

      * {
        padding: 0;
        margin: 0;
        font-family: "Open Sans", sans-serif;
      }
      :root{
       --blue: #3b34ff;
       --gray: #ededed;
      }
      body {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
      }
      header {
        padding: 10px;
        position: sticky;
        bottom: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      section{
        margin: 0 auto;
        border: 1px solid lightgray;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 5px;
        width: 80%;
        max-width: 90%;
        margin: 0 auto;
      }
      button{
        outline: none;
        border: none;
        padding:8px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
        background-color: var(--blue);
        margin: 10px 0;
        color: white;
        cursor: pointer;
      }
    
    
      input[type="text"]{
        text-align:center;
      border: none;   
      padding: 10px 12px;
      background-color: var(--gray);
      margin: 10px auto;
      font-size: 18px;

      }  
  footer{
           text-align: center;
      position:sticky;
      top: 95%;
      color: lightgray;
    }

    
     
    </style>
  </head>
  <body>
    <header>
      <i
        style="font-size: 30px; color: #2929fd; font-weight: bold"
        class="material-icons"
        >share</i
      >
      <h2>File Share Verify</h2>
    </header>
    <form method="POST" >
    <section>  
        <% if(locals.error){  %>
           <span style="color: red;">Incorrect Password</span>
        <% } %>
    <form>
      <input name="password" type="text" required autocomplete="off" placeholder="Enter Password">
      <button type="submit">
       <i class="material-icons">download</i> Download</button>
    </form>
    </section>
          <footer>
            <p>developed by Ranjan</p>
          </footer>
  </body>
</html>
